body {
  font-family: sans-serif;
  text-align: center;
  background-color: #ebebeb;
}

p,
hr {
  width: 80%;
  margin: auto;
}

h2 {
  font-size: 200%;
  color: #ee6c4d;
  text-transform: uppercase;
}

h3 {
  color: #ee6c4d;
}

[class*="col-"] {
  margin-bottom: 50px;
}

/* DEBUG RULES */
.debug [class*="col-"] {
  height: 200px;
  border: 1px solid black;
  background-color: lightcyan;
}
/* /DEBUG RULES */

img {
  height: 180px;
  padding: 10px 20px;
}

/* - - SEZIONE HOW IT WORKS - - */
.hiw {
  background-color: #04395e;
  height: 100%;
  color: white;
  padding: 30px;
}

.why {
  height: 100%;
  padding: 30px;
}

.why img {
  background-color: #648767;
  border-radius: 100%;
  padding: 10px;
}
